<h2>User: {{ user.name }}</h2>
<img src="{{ user.avatar_url }}" alt="" />
<div class="email">
  {{user.name}} has is email account at {{user.email}}
</div>

My <a href="{{user.html_url}}">GitHub</a> Page
